<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OpenLibraryRequest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B9524B11C7AC5C10028169A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B9524C81C7AC5C20028169A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B9524D31C7AC5C20028169A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
